.word-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.word-list > * {
    display: inline-flex;
    align-items: center;
    padding: 6px 14px;
    margin: 4px;
    border-radius: 18px;
    background-color: #eeeeee;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.word-list > *:hover {
    background-color: #e2e3e5;
}
.word-list > *.know {
    background-color: #a4b465;
    color: #ffffff;
}
.word-list > *.know-well {
    background-color: #626f47;
    color: #ffffff;
}
.word-ops {
    position: fixed;
    top: 10000px;
    left: 0;
}
